.main-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 320px) {
  .main-container {
    grid-gap: 15px;
  }
}

@media screen and (min-width: 720px) {
  .main-container{
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 720px) {
  .main-container{
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }
}